name: CI/CD

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/Checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@4
        with:
          node-version:'20'
          cache: 'npm'
      
      - name: Install dependencies
        run: npm ci 

      - name: build
        run: npm run build